.main-bg {
  background: url("/img/main-banner.png") lightgray 50% / cover no-repeat;
}

.main-content {
  text-align: center;
  padding-top: 205px;
  padding-bottom: 205px;
}

.main-content p {
  margin-top: 32px;
  margin-bottom: 40px;
}

.main-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
