.video-bg {
  background: var(--neutral-01);
}

.video-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: url("../../img/BG.png") no-repeat center;
  padding-top: 214px;
  padding-bottom: 215px;
}

.video-content h1 {
  margin-top: 34px;
  max-width: 20ch;
  text-align: center;
}

.video-info {
  padding-top: 80px;
  padding-bottom: 95px;
  display: flex;
  gap: 87px;
  justify-content: center;
}

.video-info-item {
  display: flex;
  gap: 24px;
}

.video-info-item img {
  align-self: flex-start;
}

.video-info-item p {
  max-width: 28ch;
  margin-top: 16px;
}
